pub/static/*
!pub/static/.htaccess

var/*
!var/.htaccess

pub/media/catalog/product/cache/*
pub/media/captcha/*
pub/ub-tool/protected/runtime/cache/*

generated/*
!generated/.htaccess

.svn
.idea
.DS_Store
nbproject/*

