<?xml version="1.0"?>
<!--
  ~ @author     Apex Division <apexdivision@gmail.com>
  ~ @copyright  2019  Apex Division (https://apexdivision.com)
  ~ @license     Commercial
  -->
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ApexDivision_ProductAttribute" setup_version="1.0.0">
        <sequence>
            <module name="Product"/>
        </sequence>
    </module>
</config>