.wk-store-item { 
    align-items: center; 
    border: none; 
    /* background-color: #fbfbfb; */
}
.wk_store_image {
    border-radius: 50%; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px; 
    background-color: white; 
    width: 150px; 
    height: 150px;
}
.wk-mp-stores-details {
    width: 40%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}